@model dynamic

<label>Success!</label>
<div>
    <button class="btn btn-success btn-sm" onclick="javascript: window.location.reload();" data-dismiss="modal" aria-hidden="true">Click to Close</button>
</div>