

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


caption {
    text-align: center;
}

.dl-horizontal dt {
    text-align: left;
     width: auto;
}
.dl-horizontal dd {
    margin-left: 100px;
}


/*CSS*/
.body-content {
    padding-top: 15px;
}

.huge {
    font-size: 30px;
}
.panel-green {
    background: #5cb85c;
}
.panel-yellow {
    background: #f0ad4e;
}
.panel-red {
    background: #d9534f;
}
.pointer {
    cursor: pointer;
}

.modal {
    max-height: 100%;
    max-width: 100%;
    
}


.btn-primary {
    margin-bottom: 5px;
    margin-right: 5px;
                      }
.pull-right {
    margin-bottom: 5px;
}
th {
    vertical-align: middle;
    text-align: center;
}


.modal-backdrop {
    position: unset;
}
#PanelModal {
    height: 100%;
}

#PanelExtend {
    height: 100%;
}

.EditRock {
    padding: 0
}

.DelRock {
    padding: 0
}

.DoneRock {
    padding: 0;
}


.btn-primary {
    margin-bottom: 5px;
    margin-right: 5px;
}

.body-content { padding-top: 15px; }

.fc-sat, .fc-sun { background-color: rgb(250, 250, 250); }

.fc-event { font-size: 1em; }

#btnView { margin-bottom: 5px; }

.table { border: 1px solid #ddd; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { vertical-align: middle; }

th {
    text-align: center;
    vertical-align: middle;
}