@model System.Data.DataTable

<table class="table table-bordered table-condensed table-responsive display table-striped" id="ticketTB" style="word-wrap: normal; width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th width="30%">Summary</th>
            <th width="10%">Status</th>
            <th width="10%">Date Created </th>
            <th width="10%">Date Updated</th>
            <th width="15%">Catergory</th>
            <th width="10%">Assigned</th>
            

        </tr>
    </thead>
    <tbody>
    @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr style="text-align: center">
                @foreach (var cell in row.ItemArray)
                {
                    <td>@cell.ToString()</td>
                }
            </tr>
        }
   
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#ticketTB').DataTable();

    });

    
</script>